html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn-nivel {
    color: #000;
    border: none;
    padding: 0.5rem 1rem;
}

td.btn-nivel {
    color: #000;
    border: none;
    padding: 0.5rem 1rem;
}

.nivel-1263 {
    background-color: #A8E6CF;
}
/* Nivel 1 */
.nivel-1264 {
    background-color: #81D4FA;
}
/* Nivel 2 */
.nivel-1265 {
    background-color: #FFF176;
}
/* Nivel 3 */
.nivel-1266 {
    background-color: #FFB74D;
}
/* Nivel 4 */
.nivel-1267 {
    background-color: #E57373;
    color: #fff;
}

td.nivel-1263 {
    background-color: #A8E6CF;
}
/* Nivel 1 */
td.nivel-1264 {
    background-color: #81D4FA;
}
/* Nivel 2 */
td.nivel-1265 {
    background-color: #FFF176;
}
/* Nivel 3 */
td.nivel-1266 {
    background-color: #FFB74D;
}
/* Nivel 4 */
td.nivel-1267 {
    background-color: #E57373;
    color: #fff;
}

/* Nivel 5 (texto blanco por contraste) */

.nivel-inactivo {
    outline: 1px solid #ccc;
    background-color: #f8f9fa;
    color: #333;
}


tr.selected {
    background-color: #cfe2ff; /* celeste suave */
}
