html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.btn-default {
    color: #000;
    transition: all 0.2s linear;
}

.btn-default:hover {
    background-color: #cbcaca;
}

.row-nivel {
    color: #000;
    border: none;
}

td.btn-nivel {
    color: #000;
    border: none;
    padding: 0.5rem 1rem;
}

.nivel-1263 {
    background-color: #A8E6CF;
}
/* Nivel 1 */
.nivel-1264 {
    background-color: #81D4FA;
}
/* Nivel 2 */
.nivel-1265 {
    background-color: #FFF176;
}
/* Nivel 3 */
.nivel-1266 {
    background-color: #FFB74D;
}
/* Nivel 4 */
.nivel-1267 {
    background-color: #E57373;
    color: #fff;
}

td.nivel-1263 {
    background-color: #A8E6CF;
}
/* Nivel 1 */
td.nivel-1264 {
    background-color: #81D4FA;
}
/* Nivel 2 */
td.nivel-1265 {
    background-color: #FFF176;
}
/* Nivel 3 */
td.nivel-1266 {
    background-color: #FFB74D;
}
/* Nivel 4 */
td.nivel-1267 {
    background-color: #E57373;
    color: #fff;
}

/* Nivel 5 (texto blanco por contraste) */

.nivel-inactivo {
    outline: 1px solid #ccc;
    background-color: #f8f9fa;
    color: #333;
}

tr.selected {
    background-color: #cfe2ff; /* celeste suave */
}


.tabla-ordenable {
    font-size: 9px;
}

@media (min-width: 1366px) {
    .tabla-ordenable {
        font-size: 11px;
    }
}

/* Estilos base del formulario */
#guardarTareaModal .modal-content {
    font-size: 0.95rem; /* Base para desktop */
}

/* Ajustes de inputs y selects */
#guardarTareaModal .form-control,
#guardarTareaModal .form-select {
    font-size: inherit;
    padding: 0.375rem 0.75rem;
}

/* Ajuste del botón */
#guardarTareaModal button {
    font-size: inherit;
}

/* Responsive - pantallas pequeñas */
@media (max-width: 1366px) {
    #guardarTareaModal .modal-content {
        font-size: 9px;
    }

    #guardarTareaModal .modal-content .modal-header{
        font-size: 11px;
    }

    #guardarTareaModal .modal-content .modal-header .modal-title {
        font-size: 16px;
    }
}

#reporteTareaModal .modal-content .modal-header .modal-title{
    font-size: 13px;
}

@media (min-width: 1366px){
    #reporteTareaModal .modal-content .modal-header .modal-title {
        font-size: 14px;
    }
}

.h-sub{
    font-size: 9px;
}

.h-sub button{
    font-size: inherit;
}

@media (min-width: 1366px) {
    .h-sub {
        font-size: 11px;
    }
}

/* Para la carga del registro seleccionado para editar */
.loading-border {
    outline: 2px solid #0d6efd !important;
    animation: bordePulse 1s infinite;
    background-color: #eef6ff;
}

.disabled-row {
    pointer-events: none;
    opacity: 0.5;
}

@keyframes bordePulse {
    0% {
        outline-color: #0d6efd;
    }

    50% {
        outline-color: #66b2ff;
    }

    100% {
        outline-color: #0d6efd;
    }
}

#suggestions-filtroReceptor a.active {
    background-color: #007bff;
    color: white;
}

@media(max-width: 1110px){
    .header-content{
        flex-direction: column;
    }
    .header-content-section{
        justify-content: space-between;
    }
}

@media(max-width:580px){
    .header-content-section{
        flex-direction: column;
    }
    .header-content-subsection{
        flex-direction: column;
    }
}

@media print {
    body * {
        visibility: hidden !important;
    }

    #reporteTareaModal,
    #reporteTareaModal * {
        visibility: visible !important;
    }

    #reporteTareaModal {
        position: absolute !important;
        top: 0;
        left: 0;
        width: 100% !important;
        background: white !important;
        z-index: 9999 !important;
        box-shadow: none !important;
    }

    .modal-backdrop {
        display: none !important;
    }
}

/* Correciones de estilo de SumoSelect */
.SumoSelect .select-all {
    box-sizing: content-box !important;
}

.SumoSelect > .CaptionCont > span.placeholder {
    color: #6a6767 !important;
    font-style: normal !important;
}

.placeholder {
    display: inline-block !important;
    min-height: 1em !important;
    vertical-align: middle !important;
    cursor: pointer !important;
    background-color: #fff;
    opacity: .5 !important;
}
