@{
    Layout = "_Layout";
}

<div class="modal fade" id="reporteTareaModal" tabindex="-1" aria-labelledby="reporteTareaModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <header class="modal-header" text-white>
                <h5 class="modal-title" id="reporteTareaModalLabel">Panel de Reporte</h5>
            </header>
            <div role="contentinfo">
                <p>Información de ejemplos, nada más</p>
            </div>
            <footer class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </footer>
        </div>
    </div>
</div>